<mat-sidenav-container class="sidenav-container">
  <mat-sidenav mode="side" opened>
    <mat-toolbar>Features</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/fingerprint">Fingerprint Recognition</a>
      <a mat-list-item routerLink="/face-detection">Face ID Detection</a>
      <a mat-list-item routerLink="/qr-code-reader">QR Code Reader</a>
      <a mat-list-item routerLink="/barcode-reader">Barcode Reader</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span>PWA Capabilities</span>
    </mat-toolbar>
    
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
