@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.sidenav-container {
    height: 100%;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
  }
  
  .content {
    padding: 16px;
  }
  
  .card {
    max-width: 600px;
    margin: auto;
    margin-top: 20px;
  }
  